.contentWrapper {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}
/* Horse Preview */

.horseWrapper {
  max-width: 1092px;
  justify-self: center;
}
.horsePreview {
  font-size: 2rem;
  margin: 100px;
  border: solid grey 2px;
  box-shadow: 3px 3px 3px 1px #ccc;
  border-radius: 10px;
  min-height: 350px;
}
.horsePreview > a {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.horseProfilePic {
  height: 150px;
  border-radius: 10px;
  position: relative;
  top: -70px;
  margin: auto;
}

.nameTag {
  text-align: center;
  font-size: 2.2rem;
  grid-column: span 2;
}

.horseDesc {
  margin: 0 5%;
  font-size: 1.2rem;
  grid-column: span 2;
}

.heritage {
  margin: 0 5%;
  font-size: 1.2rem;
}

/* Tablet */

@media only screen and (max-width: 992px) {
  .horsePreview {
    font-size: 1.8rem;
    margin-left: 30px;
    margin-right: 30px;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .horsePreview {
    margin: 5% 10px 5% 10px;
  }
  .horsePreview > a {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .nameTag {
    grid-column: span 2;
  }
  .horseProfilePic {
    border-radius: 10px;
    position: static;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
  }
  .horseDesc {
    grid-column: span 2;
    grid-row-end: 4;
  }
}
