/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--light-color);
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.hiddenElement {
  display: none;
}

.contentWrapper {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

/* Landing */

.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: url("https://mamas-website.s3.us-west-000.backblazeb2.com/Hundezucht.jpg");
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
  background-color: var(--dark-color);
}

.grid-col {
  background-color: var(--light-color);
  text-align: center;
}

/* Tablet */

@media only screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/* Mobile */
