/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #fff;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--light-color);
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.hiddenElement {
  display: none;
}

.contentWrapper {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

/* Navbar */

nav {
  position: sticky;
  top: 0;
  z-index: 1;
}

.elementWrapper {
  width: 1fr;
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  height: 80px;
  align-items: center;
}

.navbarElement {
  padding: 0 20px;
  font-size: 2rem;
  color: #eee;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.navbarElement:hover {
  background-color: black;
}

.divideElement {
  flex-grow: 1;
  height: 100%;
}

.navbarElement > a {
  color: #555;
}

.hamburgerIcon {
  display: none;
}

.selected {
  text-decoration: underline;
}

/* navbar end */

/* Horse Preview */

.horseWrapper {
  max-width: 1092px;
  justify-self: center;
}
.horsePreview {
  font-size: 2rem;
  margin: 100px;
  border: solid grey 2px;
  box-shadow: 3px 3px 3px 1px #ccc;
  border-radius: 10px;
  height: 400px;
}
.horseProfilePic {
  position: relative;
  top: -60px;
  height: 150px;
  border-radius: 10px;
}
.right-side img {
  float: right;
  right: 50px;
}

.left-side img {
  float: left;
  left: 50px;
}

.nameTag {
  position: relative;
}

.left-side .nameTag {
  float: right;
  right: 50px;
  transform: rot;
}

.right-side .nameTag {
  float: left;
  left: 50px;
}

.horseDesc {
  margin: 150px 5% 5% 5%;
}

/* Tablet */

@media only screen and (max-width: 992px) {
  .elementWrapper {
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
  }

  .navbarElement {
    min-height: 80px;
  }

  .navbarElement:hover {
    background-color: var(--primary-color);
    color: white;
  }

  .hamburgerIcon {
    display: inline;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0;
    height: 80px;
  }

  .verticalElementWrapper {
    height: 100%;
  }
  .horsePreview {
    font-size: 1.8rem;
    margin-left: 30px;
    margin-right: 30px;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .horsePreview {
    font-size: 1.5rem;

    margin-left: 10px;
    margin-right: 10px;
  }
}
